/* * {
    outline: 1px solid red;
  } */

html{
    height: auto;
}

body {
    background-image: linear-gradient(to top right, #9d75f9,#f6c9d3);
    background-color: #fde4ea;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    height: 100%;
}

h1.main{
    font-size: 3rem;
    top: 2vh;
    width: 80vw;
    color: #fff;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 6px;
    border-width: 3px;

    &:hover{
        animation: textwiggle 2s linear infinite ;
        scale: 1.05;
        box-shadow: #cfbdf8 1px 1px 1px;
    }

}

@keyframes textwiggle {
    0% { scale: 1; }
    50% { scale: 1.05; }
    100% { scale: 1; }
}


.coor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

.coor p {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: auto; /* La largeur s'ajuste à la longueur du texte */
    padding: 10px; /* Ajoute de l'espace à l'intérieur pour éviter que le texte ne touche les bords */
    max-width: 100%; /* Empêche le texte de sortir de la boîte */
}



.coor a {

    gap: 10px;
    color: #fff;
}

.pic__wrapper {
    margin-top: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 40%;
    z-index: 0;
    border: 2px solid #21d4fd;
    backdrop-filter: blur(4px);
    filter:contrast(1.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    
    &:hover{
        transition: all 0.6s ease;
        scale: 1.05;
    }
    
}


@keyframes slidingcolortext {
    0% { background-position: 0 0; }
    50% { background-position:100% 0; }
    100% { background-position: 0 0; }
}

/* .pic__container img{
    max-width: 100%;
} */

.pic__container {
    /* border: 2px solid #fff; */
    height: 100%;
    width: 100%;
    border-radius: 40%;
    overflow: hidden;
    filter:contrast(1.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.pic__container img{
    width: 100%;
    height: auto;
    filter:contrast(1.1);
}



h2.main{
    font-size: 2rem; 
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border-width: 3px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    &:hover{
        scale: 1.05;
        box-shadow: #c4acfd 2px 2px 10px;
    }
}

@media screen and (max-width: 700px){
    h1.main{
        /* border: 2px solid #111111; */
        top: 2vh;
        padding: 10px 20px;
        font-size: 2rem;
    }

    h2.main {
        bottom: 2vh;
        font-size: 2rem;
    }

}


@media screen and (max-width: 480px){
    h1.main{
        /* border: 2px solid #111111; */
        top: 0px;
        padding: 10px 20px;
        font-size: 1.75rem;
    }

    h2.main {
        bottom: -5px;
        font-size: 1.5rem;
    }

    .pic__wrapper{
        height: 300px;
        width: 300px;
    }

    .coor p {
        font-size: 1.25rem;
    }
}

h2 a{
    text-decoration: none;
    color: #fff;
}