/* Footer section CSS */

.footer__container {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #fff; */
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    /* border: 2px solid #fff; */
}

/* hover pour le footer */
.footer__logo a:hover {
    transform: translateY(-1px);
    color: #f77062;
    transition: 0.3s ease-out;
}


.hover-underline {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
  }
  
  .hover-underline::after,
  .hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
  }
  
  .hover-underline::before {
    top: -5px;
    transform-origin: left;
  }
  
  .hover-underline:hover::after,
  .hover-underline:hover::before {
    transform: scaleX(1);
  }
  


.footer__links {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 1500px;
    justify-content: flex-start;
    /* border: 2px solid #4b2424; */
}

.footer__link--wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    
}


.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    
}

.footer__link--items h2 {
    display: inline-block;
    margin-bottom: 16px;
}
  
.footer__link--items h2 span {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
}
  
@keyframes wave {
    0% { transform: translateY(0); }
    50% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}


.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    transform: scale(1.1);
    color: #f3d6f9;
    transition: 0.3s ease-out;
    font-weight: 700;
}

/* Social Icons */
.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1500px;
    width: 100%;
    margin-top: 2rem;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1500px;
    margin: 40px auto 0 auto;
}
.social__icon {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    position: relative; /* Ajouter un positionnement relatif */
}

/* Icons hovering section */
.social__icon ul {
    display: flex;

    list-style-type: none; 
    padding: 0; 
    margin: 0; 

    width: 100%;
}
  
.social__icon ul li {
    list-style: none;
}

.social__icon ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    z-index: 1;
}
  
.social__icon ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
  
.social__icon ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}
  
.social__icon ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
  
.social__icon ul li a:hover:before {
    top: 0;
}
  
.social__icon ul li:nth-child(1) a:before{
    background: #3b5999;
}
  
.social__icon ul li:nth-child(2) a:before{
    background: #55acee;
}
  
.social__icon ul li:nth-child(3) a:before {
    background: #0077b5;
}
  
.social__icon ul li:nth-child(4) a:before {
    background: #dd4b39;
}

/* fin incones socials */



.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__rights {
    color: #fff;
    margin-top: 16px;
    margin-bottom: 16px;

}

.social_media--wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 20px;
    max-width: 1500px;
    margin: 40px auto 0 auto;
}