/* Services section CSS */

.services {
    color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    /* border:2px solid #9d75f9 */
}

.services h1 {
    background-color:#ffffff ;
    background-image: linear-gradient(to bottom left, #3e2a74, #a586c0);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; 
    border-radius: 1rem;
    padding: 5px 5px;
    backdrop-filter: blur(4px);
    filter:contrast(1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* border: 2px solid #f6c9d3; */
}

.services__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}                               

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
   
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17,0.6) 100%), url(../images/pic11.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.services__card:nth-child(2){
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17,0.6) 100%), url(../images/pic12.jpg);
        
}
.services__card:nth-child(3){
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17,0.6) 100%), url(../images/pic14.jpg);
        
}

.services h2 {
    position:absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position:absolute;
    top: 400px;
    left: 30px;
    
}

.services__card button{
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #6a4faa;
    cursor: pointer;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    /* border: 2px solid #fff; */
}

.services__card:hover {
    transform: scale(1.075);
    transition: all 0.3s ease;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services h1 {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .services h1 {
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;
    }
}