*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background: #141414;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.navbar{
    background: url(../images/pic5.jpg);
    animation: animate_background_navbar 500s infinite;
    height: 80px;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    /* border: 2px solid #fff; */
}

@keyframes animate_background_navbar {
    0% { background-position: 0 0; }
    50% { background-position: 300% 0; }
    100% { background-position: 0 0; }
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 25px;
    backdrop-filter: blur(3px);
    filter:contrast(1.2);
    /* border: 2px solid #fff; */
}

.navbar__container img{
    max-height: 55px;
    margin-right: 1rem;
}

#navbar__logo{
    color: #ffffff;
    display: flex; /* Affichage en flexbox */
    align-items: center; /* Alignement vertical centré */
    justify-content: center;
    cursor: pointer; /* Curseur en forme de main */
    text-decoration: none; /* Pas de soulignement */
    font-size: 2rem; /* Taille de la police */
    font-weight: 700;
    border-radius: 5px;
    height: 100%;
    padding: 5px 20px;

    /* border: 2px solid #fff; */
}


.logo-icon {
    margin-right: 2rem; 

}


.navbar__menu{
    display: flex;
    align-items: center;
    wrap: nowrap;
    list-style: none;
    text-align: center;
    gap: 1.75rem;
    /* border: 2px solid #fff; */
}


.navbar__links{
    color: #fff;
    display: flex;
    /* border: 2px solid #fff; */
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-size: 1.62rem;
    font-weight: 500;
    border-radius: 6px;
    /* backdrop-filter: blur(10px);
    filter: contrast(1.2); */

    &:hover{
        font-weight: 700;
        transform: translateY(-2px); /* Translation de 2px vers le haut */
        transition: all 0.3s ease; /* Transition */ 
    }
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
}

.nav_button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 5px;
    height: 100%;  
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062; /* Couleur de fond */
    color: #fff; /* Couleur du texte */

}

.nav_button:hover{
    background: #8c84e3; /* Couleur de fond au survol */
    transform: translateY(-2px); /* Translation de 2px vers le haut */
    transition: all 0.3s ease; /* Transition */
}

@media screen and (max-width: 1300px){

    #navbar__logo{
        color: #fff;
        display: flex; /* Affichage en flexbox */
        align-items: center; /* Alignement vertical centré */
        justify-content: center;
        cursor: pointer; /* Curseur en forme de main */
        text-decoration: none; /* Pas de soulignement */
        font-size: 1.5rem; /* Taille de la police */
        font-weight: 700;
        /* backdrop-filter: blur(10px);
        filter:contrast(1.2); */
        border-radius: 5px;
        height: 100%;
        padding: 0px 15px;
        /* border: 2px solid #fff; */
    }



}

@media screen and (max-width: 1050px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .nav_button{

        width: 40%;

    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height:50vh;
        z-index: -1;
        background: #131313;
        /* border: 2px solid #fff; */
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left:25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height:3px;
        margin: 5px auto;   
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        width: 100%;
        display: flex;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__btn{
        margin-bottom:1rem;
        /* border: 2px solid #fff; */
    }
     
    .navbar__btn{
        width: 100%;
        justify-content: center;


    }
    .navbar__button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor:pointer;

    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}


/* Hero Section CSS */
.main {
    display: flex;
    margin-top: 20px ;
    /* border: 2px solid #fff; */
    height: auto;
}

.main__container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-self: center;
    margin-bottom: 2rem;
    height: auto;
    background-color: #141414;
    width: 100%;


    /* border: 2px solid #fff; */
    overflow: hidden; /* Empêche le dépassement */

}



.main__content h1{
    margin-top: 0.5rem;
    font-size: 4rem;
    flex-shrink: 1;
    background-color: #fff; /* Couleur de fond de secours */
    background: linear-gradient(45deg, #989898, #ffffff, #4f4f4f, #f8f8fa, #9a9a9a, #616363, #ffffff, #b3b3fe, #b1b1b1);
    background-size: 500%;
    animation: animatecube 20s infinite linear;
    /* border: 2px solid #fff; */
    -webkit-background-clip: text; /* Clip de fond pour le texte sur Webkit */
    -moz-background-clip: text; /* Clip de fond pour le texte sur Mozilla */
    -webkit-text-fill-color: transparent; /* Remplissage de texte transparent sur Webkit */
    -moz-text-fill-color: transparent; /* Remplissage de texte transparent sur Mozilla */
    margin-bottom: 1rem;
    border-radius: 4px;

    /* &:hover{
        box-shadow: 12px 12px 12px #080808,-10px -10px 10px  #202020;
        transition: all 0.5s ease;
    } */

}



.main__content h2{
    font-size: 4rem;
    background-color: #ff8177; /* Couleur de fond de secours */
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%); /* Dégradé de fond */
    background-size: 100%; /* Taille de l'image de fond */
    /* border: 2px solid #fff; */
    -webkit-background-clip: text; /* Clip de fond pour le texte sur Webkit */
    -moz-background-clip: text; /* Clip de fond pour le texte sur Mozilla */
    -webkit-text-fill-color: transparent; /* Remplissage de texte transparent sur Webkit */
    -moz-text-fill-color: transparent; /* Remplissage de texte transparent sur Mozilla */
}


.main__content p{
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 700;
    color: #fff;
}



.main__btn{
    position: relative;
    font-size: 1.5rem;
    background: #f77062; /* Couleur de fond */
    padding: 14px 32px;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 2rem;
    transition: all 0.3s ease;
    outline: none;
    z-index: 2;
    cursor: pointer;

}

.main__btn a{
    position: relative;
    z-index: 2; 
    color: #fff;
    text-decoration: none;
}

.main__btn:hover{
    color: #fff;
}

.main__btn::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 10px;
}




.main__btn:hover::after{
    width: 100%;
}

#main__img {
  width: 60%;  /* L’image prend toute la largeur du conteneur */
  height: auto; /* Garde les proportions */
  max-height: 400px;
  position: relative;
  left: -50px;
}

.main__img--container {
    display: flex;
    flex-grow: 1;
    flex-shrink: 2;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #fff; */
    max-height: 400px;
    min-width: 300px; /* Définis une largeur minimale avant le wrap */


}


.main__content{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(300px, 90%, 1200px);
    /* border: 2px solid #8f5656; */
}

@media screen and (max-width: 758px){
    .main__container{
        display: flex;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2{
        font-size: 1.5rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;

    }
@media screen and (max-width: 480px){

    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2{
        font-size: 2rem;
    }

    .main__content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}
}


/* Cube  */

.cube__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.cube__wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #989898, #ffffff, #4f4f4f, #f8f8fa, #9a9a9a, #616363, #ffffff, #b3b3fe, #b1b1b1);
    background-size: 500%;
    animation: animatecube 20s infinite linear;
    z-index: 0;
    box-sizing: border-box;
}



.cube__wrapper::before {
    z-index: 2;
    background: #141414;
    border-radius: 10px;
    transform: scale(0.95);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}

.cube__wrapper::after {
    filter: blur(10px);
    -webkit-mask: inset(0 0 0 0);
    mask: inset(0 0 0 0); /* Same here to apply the blur effect only on the borders */
}

@keyframes animatecube {
    0% { background-position: 0 0; }
    50% { background-position: 300% 0; }
    100% { background-position: 0 0; }
}


.cube__container {
    display: flex;
    z-index: 4;
    background: #141414;
    /* border: 2px solid #892525; */
	position: relative;
	top: -100px;
	transform: skewY(-20deg);
	animation: animate 5s linear infinite;
	.cube {
		position: relative;
		z-index: 2;
		&:nth-child(2) {
			z-index: 1;
			translate: -60px -60px;
		}
		&:nth-child(3) {
			z-index: 3;
			translate: 60px 60px;
		}
		div {
			position: absolute;
			display: flex;
			flex-direction: column;
			gap: 30px;
			translate: calc(-70px * var(--x)) calc(-60px * var(--y));
			span {
				position: relative;
				display: inline-block;
				width: 50px;
				height: 50px;
				background: #dcdcdc;
				z-index: calc(1 * var(--i));
				transition: 1.5s;
				&:hover {
					transition: 0s;
					background: #ef4149;
					filter: drop-shadow(0 0 30px #ef4149);
					&:before, 
					&:after {
						transition: 0s;
						background: #ef4149;
					}
				}
				&:before {
					content: "";
					position: absolute;
					left: -40px;
					width: 40px;
					height: 100%;
					background: #fff;
					transform-origin: right;
					transform: skewY(45deg);
					transition: 1.5s;
				}
				&:after {
					content: "";
					position: absolute;
					top: -40px;
					left: 0px;
					width: 100%;
					height: 40px;
					background: #f2f2f2;
					transform-origin: bottom;
					transform: skewX(45deg);
					transition: 1.5s;
				}
			}
		}
	}
}

@media screen and (max-width: 480px){

    .cube__wrapper{
        /* border: 2px solid #fff; */
        height: 440px;
        width: 100%;
    }

    .cube__container{
        top: -80px;
    }
}


/* fin cube */